body{
    background-color: aqua!important;
}


.login{
    color: #fff!important;
    margin-left: 10px;
}

.login-box{
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    

}

.login-page{
    background-image: url("../../img/background.png");
    background-repeat: no-repeat;

}

.buttonleft{
    margin-left: 20px;
}

label{
    font-weight: 0;
}